In [4]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('C:/Users/Abhi/Desktop/Salary.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [10]:
df['YearsExperience'].fillna(df.YearsExperience.median(),inplace = True)

In [12]:
# Standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit Vs Fit transform
df_scaled = scaler.fit_transform(df)
df_scaled

array([[-1.51005294, -1.36011263],
       [-1.43837321, -1.10552744],
       [-1.36669348, -1.419919  ],
       [-1.18749416, -1.20495739],
       [-1.11581443, -1.33978143],
       [-0.86493538, -0.71830716],
       [-0.82909552, -0.58815781],
       [-0.75741579, -0.79981746],
       [-0.75741579, -0.42881019],
       [-0.57821647, -0.69801306],
       [-0.50653674, -0.47433279],
       [-0.47069688, -0.74976858],
       [-0.47069688, -0.70662043],
       [-0.43485702, -0.70201994],
       [-0.29149756, -0.55250402],
       [-0.1481381 , -0.29921736],
       [-0.07645838, -0.37004264],
       [-0.00477865,  0.26285865],
       [ 0.21026054,  0.19885989],
       [ 0.2461004 ,  0.66547573],
       [ 0.53281931,  0.58377993],
       [ 0.6403389 ,  0.82623317],
       [ 0.92705781,  0.93861127],
       [ 1.03457741,  1.40274136],
       [ 1.21377673,  1.24020308],
       [ 1.32129632,  1.09740238],
       [ 1.50049564,  1.51986835],
       [ 1.5363355 ,  1.3590738 ],
       [ 1.78721455,  1.72102849],
       [ 1.85889428,  1.70177321]])

In [13]:
# Min-Max Scaling or Normalization
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
df_minmax = pd.DataFrame(min_max.fit_transform(df), columns=df.columns)
df_minmax.head()

   YearsExperience    Salary
0         0.000000  0.019041
1         0.021277  0.100094
2         0.042553  0.000000
3         0.095745  0.068438
4         0.117021  0.025514